<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=bancodefeitos;Uid=root;Pwd=Tr4mp09176!;Connect Timeout=30;" />

  </connectionStrings>
  
  
  
</configuration>